<div *ngIf="colorLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="colorLoaded==true" class="alert alert-success" role="alert">
  Renkler
</div>
<ul class="list-group" *ngIf="colorLoaded==true">
  <li [class]="clearColorFilter(null)" (click)="setCurrentColor(null)"  routerLink="/">Renk filtresini temizle</li>
  <li (click)="setCurrentColor(color)" routerLink="cars/colors/{{color.id}}"
      *ngFor="let color of colors" [class]="getCurrentColor(color)">
    {{color.name}}
  </li>
</ul>
