<div *ngFor="let cardetail of carDetails" class="card" style="width: 36rem;">
  <div *ngIf="images.length>0" id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="loadImage()" class="d-block w-100" alt="{{cardetail.description}}">
      </div>
    </div>
    <button *ngIf="images.length>1" class="carousel-control-prev" type="button" (click)="prevImage()"
            data-bs-target="#carouselExample"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button *ngIf="images.length>1" class="carousel-control-next" type="button" (click)="nextImage()"
            data-bs-target="#carouselExample"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
