<div *ngIf="carDetailLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngFor="let cardetail of carDetails" class="card" style="width: 36rem;">
  <app-carousel></app-carousel>
  <div class="card-body">
    <h5 class="card-title">{{cardetail.brandName}}</h5>
    <p class="card-text">{{cardetail.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Kiralama fiyatı {{cardetail.dailyPrice|vat:18|currency:"₺"}} ₺</li>
    <li class="list-group-item">Arac rengi {{cardetail.colorName}}</li>
    <li class="list-group-item">Arac yılı {{cardetail.modelYear}}</li>
  </ul>
  <div class="card-body">
    <button routerLink="/rental/{{cardetail.id}}" type="button" class="btn btn-success btn-lg">Kirala</button>
  </div>
</div>
